<!DOCTYPE html>
<html>
    <head>
        <title>SharkBook</title>
        {{>header}}
    </head>
    <body>
        {{>navbar}}
        <h1>Get Started</h1>
        {{>footer}}
    </body>
</html>